Repository iantybo/fifteen-thirty-one-go: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend:eslint, backend:test

frontend:eslint:
  stage: lint
  image: node:20
  variables:
    NPM_CONFIG_CACHE: $CI_PROJECT_DIR/.npm
  cache:
    key: npm-${CI_COMMIT_REF_SLUG}
    paths:
    - .npm/
  script:
  - cd frontend
  - npm ci --no-audit --no-fund
  - npm run lint

backend:test:
  stage: test
  image: golang:1.25.5
  variables:
    GOPATH: $CI_PROJECT_DIR/.go
  cache:
    key: go-${CI_COMMIT_REF_SLUG}
    paths:
    - .go/pkg/mod/
  script:
  - cd backend
  - go mod download
  - go mod verify
  - echo "Checking code formatting..."
  ...

Add ErrDecodeBody sentinel for bad request bodies
  uservices/pkg/service/service.go
  uservices/pkg/service/service_test.go
Due: none

[cr]
  docs/SECURITY.md
Due: none

ci: add CodeRabbit review workflow
  .github/coderabbit-review/docker/entrypoint.sh
  .github/coderabbit-review/docker/init.sh
  .github/coderabbit-review/server/server.py
  .github/coderabbit-review/summarize.py
  .github/workflows/coderabbit-review.yml
Due: none

test GHA
  mcp-server/service-catalog/main.go
Due: none

fix(ci): mark the workspace safe for git in the review container
  .github/coderabbit-review/docker/init.sh
  .github/coderabbit-review/server/server.py
Due: none

[cr]
  uservices/services/bordeaux/main.go
Due: none

fix(ci): print the review result to the step log
  .github/coderabbit-review/.gitignore
  .github/coderabbit-review/summarize.py
Due: none

test
  uservices/services/dodgers/main.go
Due: none

fix(ci): render review findings in full instead of truncating them
  .github/coderabbit-review/summarize.py
Due: none

feat(ci): server-side clone, credential redaction, and a lock fix
  .github/coderabbit-review/server/server.py
  .github/coderabbit-review/summarize.py
Due: none

init
  backend/cmd/server/main.go
  backend/internal/handlers/health.go
  backend/internal/handlers/health_test.go
  backend/pkg/websocket/hub.go
  docs/API_STATS.md
  docs/HEALTH.md
Due: backend:test

fix(bordeaux): restore serviceName constant declaration
  uservices/services/bordeaux/main.go
Due: none

[cr]
  .coderabbit.yml
Due: none

feat(decks): custom card decks with themed images
  backend/internal/database/migrations/007_card_decks.sql
  backend/internal/handlers/decks.go
  backend/internal/handlers/routes.go
  backend/internal/models/card_deck.go
  backend/internal/models/card_deck_test.go
  backend/internal/models/user_preferences.go
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/decks/CardView.tsx
  frontend/src/decks/DeckProvider.tsx
  frontend/src/decks/cardLabels.ts
  frontend/src/decks/deckTheme.ts
  frontend/src/main.tsx
  frontend/src/pages/DecksPage.tsx
  frontend/src/pages/GamePage.tsx
  frontend/src/pages/LobbiesPage.tsx
Due: frontend:eslint, backend:test

fix(decks): clear deck state before loading a new user's decks
  frontend/src/decks/DeckProvider.tsx
Due: frontend:eslint

fix(decks): address CodeRabbit backend review findings
  backend/internal/handlers/decks.go
  backend/internal/models/card_deck.go
  backend/internal/models/card_deck_test.go
Due: backend:test

docs(decks): correct stale doc comments
  backend/internal/models/card_deck.go
  backend/internal/models/user_preferences.go
Due: backend:test

fix(decks): guard async deck writes and tighten remaining review items
  backend/internal/handlers/decks.go
  backend/internal/models/user_preferences.go
  frontend/src/decks/DeckProvider.tsx
  frontend/src/pages/DecksPage.tsx
Due: frontend:eslint, backend:test

feat(signups): invite-request flow with structured request logging
  backend/cmd/server/main.go
  backend/internal/database/migrations/008_signups.sql
  backend/internal/handlers/routes.go
  backend/internal/handlers/signups.go
  backend/internal/logging/logging.go
  backend/internal/middleware/logging.go
  backend/internal/middleware/logging_test.go
  backend/internal/models/signup.go
  backend/internal/models/signup_test.go
  docs/env.example
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/SignupPage.tsx
Due: frontend:eslint, backend:test

test(cribbage): cover scoring rules and benchmark the hot path
  backend/internal/game/cribbage/scoring_bench_test.go
  backend/internal/game/cribbage/scoring_test.go
Due: backend:test

perf(cribbage): cut scoring allocations in the hand and pegging paths
  backend/internal/game/cribbage/scoring.go
  backend/internal/game/cribbage/scoring_test.go
Due: backend:test

Update backend/internal/game/cribbage/scoring.go
  backend/internal/game/cribbage/scoring.go
Due: backend:test

perf(cribbage): expected-value discard search for the hard bot
  backend/internal/game/cribbage/bot.go
  backend/internal/game/cribbage/discard_ev.go
  backend/internal/game/cribbage/discard_ev_test.go
  backend/internal/game/cribbage/scoring.go
  backend/internal/game/cribbage/scoring_bench_test.go
Due: backend:test

fix(cribbage): keep malformed ranks from panicking the scoring path
  .coderabbit.config.ts
  .coderabbit.yml
  .gitignore
  backend/internal/game/cribbage/discard_ev.go
  backend/internal/game/cribbage/discard_ev_test.go
  backend/internal/game/cribbage/scoring.go
  package-lock.json
  package.json
  tsconfig.json
Due: backend:test

init
  .coderabbit.config.ts
Due: none

config: add TypeScript CodeRabbit configuration
  .coderabbit.config.ts
  .gitignore
  package-lock.json
  package.json
  tsconfig.coderabbit.json
Due: none

config: remove .coderabbit.yml in favor of the TypeScript config
  .coderabbit.config.ts
  .coderabbit.yml
  mcp-server/service-catalog/README.md
Due: none

Path conditions:
  frontend:eslint: any of: frontend/**/*
  backend:test: any of: backend/**/*
