Repository iantybo/fifteen-thirty-one-go: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend:eslint, backend:test

frontend:eslint:
  stage: lint
  image: node:20
  variables:
    NPM_CONFIG_CACHE: $CI_PROJECT_DIR/.npm
  cache:
    key: npm-${CI_COMMIT_REF_SLUG}
    paths:
    - .npm/
  script:
  - cd frontend
  - npm ci --no-audit --no-fund
  - npm run lint

backend:test:
  stage: test
  image: golang:1.25.5
  variables:
    GOPATH: $CI_PROJECT_DIR/.go
  cache:
    key: go-${CI_COMMIT_REF_SLUG}
    paths:
    - .go/pkg/mod/
  script:
  - cd backend
  - go mod download
  - go test -v ./...
  - go test -race -v ./...

Update push-and-open-prs.sh
  push-and-open-prs.sh
Due: none

game-v4
  backend/internal/handlers/game_logic.go
  backend/internal/handlers/lobby.go
  backend/internal/models/game_player.go
  backend/internal/models/lobby.go
  bitbucket-pipelines.yml
  frontend/src/api/types.ts
  frontend/src/pages/GamePage.tsx
  push-and-open-prs.sh
Due: frontend:eslint, backend:test

update coderabbit config
  .coderabbit.yml
Due: none

v8
  .coderabbit.yml
  LOBBY_IMPROVEMENTS_DESIGN.md
Due: none

v9
  LOBBY_IMPROVEMENTS_SUMMARY.md
  backend/internal/database/migrations/006_lobby_improvements.sql
  backend/internal/game/cribbage/cribbage.go
  backend/internal/handlers/game_finalize.go
  backend/internal/handlers/lobby_chat.go
  backend/internal/handlers/presence.go
  backend/internal/handlers/routes.go
  backend/internal/handlers/spectator.go
  backend/internal/handlers/websocket.go
  backend/internal/models/game.go
  backend/internal/models/game_player.go
  backend/internal/models/leaderboard.go
  backend/internal/models/lobby.go
  backend/pkg/websocket/client.go
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/components/LobbyChat.tsx
  frontend/src/hooks/usePresence.ts
  frontend/src/index.css
  frontend/src/pages/GamePage.tsx
  frontend/src/pages/LobbiesPage.tsx
  frontend/src/pages/LobbyDetailPage.tsx
Due: frontend:eslint, backend:test

v9
  backend/internal/handlers/game.go
  backend/internal/handlers/game_finalize.go
  backend/internal/handlers/leaderboard.go
  backend/internal/handlers/lobby_chat.go
  backend/internal/handlers/presence.go
  backend/internal/handlers/routes.go
  backend/internal/handlers/spectator.go
  backend/internal/handlers/websocket.go
  backend/internal/models/game.go
  backend/internal/models/game_player.go
  backend/internal/models/lobby.go
  backend/pkg/websocket/client.go
  frontend/src/api/client.ts
  frontend/src/components/LobbyChat.tsx
  frontend/src/hooks/usePresence.ts
Due: frontend:eslint, backend:test

ib/new-features-v2
  LOBBY_DOCUMENTATION_INDEX.md
  LOBBY_IMPROVEMENTS_DESIGN.md
  backend/internal/handlers/game_finalize.go
  backend/internal/handlers/spectator.go
  backend/internal/handlers/websocket.go
  backend/internal/models/game.go
  backend/internal/models/game_player.go
  frontend/src/hooks/usePresence.ts
Due: frontend:eslint, backend:test

add more CI
  .circleci/config.yml
  .github/workflows/backend-test.yml
  .gitlab-ci.yml
  azure-pipelines.yml
  bitbucket-pipelines.yml
Due: none

add scoreboard
  backend/internal/handlers/hub.go
  backend/internal/handlers/routes.go
  backend/internal/handlers/scoreboard.go
  backend/internal/models/game.go
Due: backend:test

update coderabbit yaml
  .coderabbit.yml
Due: none

update coderabbit yaml for linear
  .coderabbit.yml
Due: none

Add agent rules
  .cursor/rules/coderabbit_after_codegen.mdc
  .cursorrules
  CLAUDE.md
Due: none

jan updates
  README.md
  backend/cmd/server/main.go
  backend/internal/database/migrations/007_historical_hands.sql
  backend/internal/tracing/tracing.go
  frontend/src/App.tsx
  frontend/src/components/ThemeToggle.tsx
  frontend/src/contexts/ThemeContext.tsx
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/styles/ThemeToggle.css
Due: frontend:eslint, backend:test

add new stuff
  .coderabbit.yml
Due: none

gha
  .github/workflows/deploy.yml
Due: none

test-gha-v2
  .github/workflows/bad-workflow.yml
  scripts/bad-script.sh
Due: none

jan-updates
  backend/internal/database/migrations/008_game_chat.sql
  backend/internal/database/migrations/009_user_profile_settings.sql
  backend/internal/database/migrations/010_target_score.sql
  backend/internal/handlers/game_chat.go
  backend/internal/handlers/profile.go
  frontend/src/components/GameChat.tsx
  frontend/src/pages/ProfileSettingsPage.tsx
Due: frontend:eslint, backend:test

[cr] [KAN-2] [IAN-6]
  backend/internal/handlers/chatbot.go
  backend/internal/handlers/routes.go
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/components/ChatBot.tsx
  frontend/src/pages/GamePage.tsx
Due: frontend:eslint, backend:test

update coderabbit config
  .coderabbit.yml
  backend/internal/database/migrations/003_daily_challenges.sql
  cribbage-analyzer/.gitignore
  cribbage-analyzer/README.md
  cribbage-analyzer/pom.xml
  cribbage-analyzer/src/main/java/com/cribbagegame/analyzer/Card.java
  cribbage-analyzer/src/main/java/com/cribbagegame/analyzer/CribbageAnalyzerDemo.java
  cribbage-analyzer/src/main/java/com/cribbagegame/analyzer/CribbageHandAnalyzer.java
  cribbage-analyzer/src/main/java/com/cribbagegame/analyzer/Deck.java
  cribbage-analyzer/src/main/java/com/cribbagegame/analyzer/HandScore.java
  cribbage-analyzer/src/main/java/com/cribbagegame/analyzer/HandStatistics.java
  daily-challenge-service/.gitignore
  daily-challenge-service/README.md
  daily-challenge-service/pom.xml
  daily-challenge-service/run.sh
  daily-challenge-service/src/main/java/com/cribbagegame/dailychallenge/DailyChallengeServiceApplication.java
  daily-challenge-service/src/main/java/com/cribbagegame/dailychallenge/config/WebConfig.java
  daily-challenge-service/src/main/java/com/cribbagegame/dailychallenge/controller/ChallengeController.java
  daily-challenge-service/src/main/java/com/cribbagegame/dailychallenge/dto/ChallengeSubmissionRequest.java
  daily-challenge-service/src/main/java/com/cribbagegame/dailychallenge/dto/ChallengeSubmissionResponse.java
  daily-challenge-service/src/main/java/com/cribbagegame/dailychallenge/dto/LeaderboardEntry.java
  daily-challenge-service/src/main/java/com/cribbagegame/dailychallenge/entity/ChallengeSubmission.java
  daily-challenge-service/src/main/java/com/cribbagegame/dailychallenge/entity/UserChallengeStats.java
  daily-challenge-service/src/main/java/com/cribbagegame/dailychallenge/model/Card.java
  daily-challenge-service/src/main/java/com/cribbagegame/dailychallenge/model/ChallengeType.java
  daily-challenge-service/src/main/java/com/cribbagegame/dailychallenge/model/DailyChallenge.java
  daily-challenge-service/src/main/java/com/cribbagegame/dailychallenge/repository/ChallengeSubmissionRepository.java
  daily-challenge-service/src/main/java/com/cribbagegame/dailychallenge/repository/UserChallengeStatsRepository.java
  daily-challenge-service/src/main/java/com/cribbagegame/dailychallenge/security/JwtUtil.java
  daily-challenge-service/src/main/java/com/cribbagegame/dailychallenge/service/ChallengeGenerator.java
  daily-challenge-service/src/main/java/com/cribbagegame/dailychallenge/service/ChallengeService.java
  daily-challenge-service/src/main/java/com/cribbagegame/dailychallenge/service/CribbageScorer.java
  daily-challenge-service/src/main/resources/application.properties
  daily-challenge-service/src/test/java/com/cribbagegame/dailychallenge/service/CribbageScorerTest.java
Due: backend:test

update gitignore and coderabbit config
  .coderabbit.yml
  .gitignore
Due: none

update gitignore and coderabbit config
  .coderabbit.yml
Due: none

update CodeRabbit config
  .coderabbit.yml
  .gitignore
Due: none

rm junk
  LOBBY_DOCUMENTATION_INDEX.md
  LOBBY_IMPLEMENTATION.md
  LOBBY_IMPROVEMENTS_DESIGN.md
  LOBBY_IMPROVEMENTS_SUMMARY.md
  LOBBY_QUICK_REFERENCE.md
  cribbage_game_platform_c9968539.plan.md
Due: none

@coderabbitai
  backend/cmd/server/main.go
  backend/go.mod
  backend/go.sum
  backend/internal/config/config.go
  backend/internal/database/migrations/010_card_deck_colors.sql
  backend/internal/database/migrations/011_premium_avatars.sql
  backend/internal/handlers/premium.go
  backend/internal/handlers/routes.go
  backend/internal/models/premium.go
  backend/internal/models/user.go
  backend/internal/timer/service.go
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/pages/PremiumPortalPage.tsx
  frontend/src/pages/SettingsPage.tsx
Due: frontend:eslint, backend:test

testing coderabbit!
  test.sh
Due: none

Update test.sh
  test.sh
Due: none

Add a placeholder string to config.go
  backend/internal/config/config.go
Due: backend:test

Implement GDPR and PII compliance checks
  .coderabbit.yml
Due: none

add backend
  .coderabbit.yml
  backend/go.mod
  backend/go.sum
  backend/internal/database/migrations/007_user_profile.sql
  backend/internal/handlers/profile.go
  backend/internal/handlers/routes.go
  backend/internal/handlers/websocket.go
  backend/internal/models/user.go
  backend/pkg/websocket/hub.go
  frontend/src/components/VideoChat.tsx
  frontend/src/pages/GamePage.tsx
Due: frontend:eslint, backend:test

Add trading card reward system
  backend/internal/database/migrations/007_trading_cards.sql
  backend/internal/handlers/routes.go
  backend/internal/handlers/trading_cards.go
  backend/internal/models/trading_card.go
Due: backend:test

Add docstrings and handle unsupported reward types
  backend/internal/handlers/trading_cards.go
  backend/internal/models/trading_card.go
Due: backend:test

Fix import formatting for websocket package
  backend/pkg/websocket/client.go
Due: backend:test

[cr]
  .coderabbit.yml
Due: none

Path conditions:
  frontend:eslint: any of: frontend/**/*
  backend:test: any of: backend/**/*
