Repository iantybo/fifteen-thirty-one-go: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend:eslint, backend:test

.gitlab-ci.yml:

stages:
  - lint
  - test

frontend:eslint:
  stage: lint
  image: node:20
  rules:
    # Run on merge request pipelines when frontend changed
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - frontend/**/*
    # Run on default-branch pipelines when frontend changed (post-merge)
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - frontend/**/*
    - when: never
  variables:
    NPM_CONFIG_CACHE: "$CI_PROJECT_DIR/.npm"
  cache:
    key: "npm-${CI_COMMIT_REF_SLUG}"
    paths:
      - .npm/
  script:
    - cd frontend
    - npm ci --no-audit --no-fund
    - npm run lint

backend:test:
  stage: test
  image: golang:1.25.5
  rules:
    # Run on merge request pipelines when backend changed
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - backend/**/*
    # Run on default-branch pipelines when backend changed (post-merge)
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - backend/**/*
    - when: never
  variables:
    GOPATH: "$CI_PROJECT_DIR/.go"
  cache:
    key: "go-${CI_COMMIT_REF_SLUG}"
    paths:
      - .go/pkg/mod/
  script:
    - cd backend
    - go mod download
    - go mod verify
    - echo "Checking code formatting..."
    - |
      if [ -n "$(gofmt -l .)" ]; then
        echo "Go code is not formatted:"
        gofmt -d .
        exit 1
      fi
    - echo "Running go vet..."
    - go vet ./...
    - echo "Installing and running staticcheck..."
    - go install honnef.co/go/tools/cmd/staticcheck@latest
    - $GOPATH/bin/staticcheck ./...
    - echo "Installing and running golangci-lint..."
    - curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin
    - $GOPATH/bin/golangci-lint run ./...
    - echo "Building project..."
    - go build -v ./...
    - echo "Running tests..."
    - go test -v ./...
    - echo "Running tests with race detector..."
    - go test -race -v ./...
    - echo "Running tests with coverage..."
    - go test -coverprofile=coverage.out -covermode=atomic ./...
    - go tool cover -func=coverage.out
    - echo "Running vulnerability check..."
    - go install golang.org/x/vuln/cmd/govulncheck@latest
    - $GOPATH/bin/govulncheck ./...
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage.out
    paths:
      - backend/coverage.out
    expire_in: 1 week

Update README with additional test line
  frontend/README.md
Due: frontend:eslint

init
  README.md
Due: none

init
  .coderabbit.yml
Due: none

init
  uservices/services/astros/main.go
  uservices/services/basil/main.go
  uservices/services/bordeaux/main.go
Due: none

init
  backend/cmd/server/main.go
Due: backend:test

init
  .coderabbit.yml
  .gitignore
  backend/cmd/server/main.go
  backend/internal/auth/constants.go
  backend/internal/config/config.go
  backend/internal/database/migrations/007_add_coins.sql
  backend/internal/handlers/game_finalize.go
  backend/internal/middleware/cors.go
  backend/internal/models/sentinel_errors.go
  backend/internal/models/user.go
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/lib/env.ts
  frontend/src/lib/http.ts
  frontend/src/main.tsx
  uservices/pkg/cribbage/vote.go
  uservices/pkg/cribbage/vote_test.go
Due: frontend:eslint, backend:test

Add startup logging to main.go
  backend/cmd/server/main.go
Due: backend:test

Add pizza branch markers to main.go
  backend/cmd/server/main.go
Due: backend:test

feat(stats): add win streaks and scoring records to player stats
  backend/internal/models/scoreboard.go
  backend/internal/models/scoreboard_test.go
  frontend/src/api/types.ts
  frontend/src/pages/GamePage.tsx
Due: frontend:eslint, backend:test

Add Windows cribbage counter library (cribcounter) with DLL wrapper and tests
  backend/pkg/cribcounter/cribcounter.go
  backend/pkg/cribcounter/cribcounter_test.go
  backend/pkg/cribcounter/dll/main_other.go
  backend/pkg/cribcounter/dll/main_windows.go
  backend/pkg/cribcounter/dll/smoke_test.py
Due: backend:test

Extract shared scoring package and add input validation to cribcounter
  backend/internal/game/cribbage/scoring.go
  backend/internal/game/scoring/scoring.go
  backend/pkg/cribcounter/cribcounter.go
  backend/pkg/cribcounter/cribcounter_test.go
  backend/pkg/cribcounter/dll/main_windows.go
  backend/pkg/cribcounter/dll/smoke_test.py
Due: backend:test

init
  tools/phi-check/git.go
  tools/phi-check/main.go
  uservices/services/astros/main.go
  uservices/services/basil/main.go
  uservices/services/bordeaux/main.go
  uservices/services/cardinals/main.go
  uservices/services/clover/main.go
  uservices/services/cubs/main.go
  uservices/services/dijon/main.go
  uservices/services/dodgers/main.go
  uservices/services/fern/main.go
  uservices/services/ivy/main.go
  uservices/services/juniper/main.go
  uservices/services/lille/main.go
  uservices/services/lotus/main.go
  uservices/services/lyon/main.go
  uservices/services/maple/main.go
  uservices/services/mariners/main.go
  uservices/services/marseille/main.go
  uservices/services/nantes/main.go
  uservices/services/nice/main.go
  uservices/services/padres/main.go
  uservices/services/paris/main.go
  uservices/services/redsox/main.go
  uservices/services/rennes/main.go
  uservices/services/rockies/main.go
  uservices/services/sage/main.go
  uservices/services/thistle/main.go
  uservices/services/toulouse/main.go
  uservices/services/twins/main.go
  uservices/services/willow/main.go
  uservices/services/yankees/main.go
Due: none

Add FRONTEND.md file pattern for TypeScript files
  .coderabbit.yml
Due: none

add image
  .coderabbit.yml
  imgs/georgelucas/INFO.md
  imgs/georgelucas/harrisonsussman.png
Due: none

update coderabbit config
  .coderabbit.yml
Due: none

init
  .claude-preferences.json
  .claudeignore
  backend/internal/handlers/resync.go
  backend/internal/handlers/resync_test.go
  backend/internal/handlers/routes.go
  docs/optimistic-sync-engine.md
  frontend/package.json
  frontend/src/pages/GamePage.tsx
  frontend/src/sync/__fixtures__/state.ts
  frontend/src/sync/engine.test.ts
  frontend/src/sync/engine.ts
  frontend/src/sync/index.ts
  frontend/src/sync/queue.test.ts
  frontend/src/sync/queue.ts
  frontend/src/sync/reducer.test.ts
  frontend/src/sync/reducer.ts
  frontend/src/sync/types.ts
  frontend/src/sync/useSyncEngine.ts
  frontend/vite.config.ts
Due: frontend:eslint, backend:test

update repo settings
  .claude/settings.json
Due: none

Create vercel.json
  vercel.json
Due: none

init
  .coderabbit.yml
  frontend/public/posters/feel_good_baseball_dog_movie_poster.png
  frontend/public/posters/romance_movie_poster.png
  frontend/public/posters/witches_cat_movie_poster.png
  frontend/src/App.tsx
  frontend/src/pages/PostersPage.tsx
  vercel.json
Due: frontend:eslint

init
  frontend/src/App.tsx
Due: frontend:eslint

Refactor CodeRabbit configuration for improved governance
  .coderabbit.yml
Due: none

fix the bug
  frontend/src/sync/engine.test.ts
Due: frontend:eslint

docs: add Contributing section on running CodeRabbit CLI
  README.md
Due: none

Add manual hand counting UI in the counting stage
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/pages/GamePage.tsx
Due: frontend:eslint

[cr]
  .coderabbit.yml
Due: none

Add PowerShell hello world + count to 1000 script
  scripts/hello-count.ps1
Due: none

init
  .coderabbit.yml
  fix-kan-21.yaml
Due: none

init
  backend/internal/database/migration_email_test.go
  backend/internal/database/migrations/007_user_email.sql
  backend/internal/handlers/profile.go
  backend/internal/handlers/profile_test.go
  backend/internal/handlers/streaks.go
Due: backend:test

Bound JSON request body size and simplify envKey
  uservices/pkg/meshclient/meshclient.go
  uservices/pkg/service/service.go
Due: none

Reject oversized and trailing-data JSON bodies
  uservices/pkg/service/service.go
  uservices/pkg/service/service_test.go
Due: none

Preserve read errors and tighten body-size tests
  uservices/pkg/service/service.go
  uservices/pkg/service/service_test.go
Due: none

Surface request body close errors
  uservices/pkg/service/service.go
Due: none

Test request body close-error handling
  uservices/pkg/service/service_test.go
Due: none

Add doc comments to remaining DecodeJSON tests
  uservices/pkg/service/service_test.go
Due: none

Isolate size enforcement and cover read failures
  uservices/pkg/service/service_test.go
Due: none
