Repository iantybo/fifteen-thirty-one-go: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend:eslint, backend:test

frontend:eslint:
  stage: lint
  image: node:20
  variables:
    NPM_CONFIG_CACHE: $CI_PROJECT_DIR/.npm
  cache:
    key: npm-${CI_COMMIT_REF_SLUG}
    paths:
    - .npm/
  script:
  - cd frontend
  - npm ci --no-audit --no-fund
  - npm run lint

backend:test:
  stage: test
  image: golang:1.25.5
  variables:
    GOPATH: $CI_PROJECT_DIR/.go
  cache:
    key: go-${CI_COMMIT_REF_SLUG}
    paths:
    - .go/pkg/mod/
  script:
  - cd backend
  - go mod download
  - go mod verify
  - echo "Checking code formatting..."
  ...

update leaderboard days validation
  backend/internal/handlers/leaderboard.go
Due: backend:test

Add linked repository configuration for CodeRabbit
  .coderabbit.yml
Due: none

update AGENTS
  AGENTS.md
  CLAUDE.md
Due: none

init
  .coderabbit.yml
  backend/go.mod
  backend/go.sum
  backend/internal/game/utilscompat/cards.go
  backend/internal/game/utilscompat/utilscompat_test.go
Due: backend:test

[cr]
  backend/internal/game/cribbage/scoring.go
Due: backend:test

update config
  .coderabbit.yml
Due: none

[cr] [KAN-9]
  backend/internal/game/cribbage/scoring.go
Due: backend:test

init
  .coderabbit.yml
Due: none

config update
  .coderabbit.yml
Due: none

Fix typo in error handling guideline
  .coderabbit.yml
Due: none

init
  .coderabbit.yml
  AGENTS.md
Due: none

[cr] [KAN-9]
  backend/internal/database/migrations/007_add_coins_to_users.sql
  backend/internal/database/migrations/008_coin_prizes.sql
  backend/internal/handlers/coin_prize.go
Due: backend:test

update coderabbit config
  .coderabbit.yml
Due: none

[cr] [KAN-9]
  backend/internal/game/common/cards.go
  backend/internal/game/cribbage/scoring.go
  backend/internal/game/utilscompat/cards.go
Due: backend:test

[cr]
  .coderabbit.yml
  backend/cmd/server/main.go
  backend/internal/database/migrations/007_cards_economy.sql
  backend/internal/handlers/cards.go
  backend/internal/handlers/game_finalize.go
  backend/internal/handlers/routes.go
  backend/internal/models/user_card.go
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/pages/CollectionPage.tsx
  frontend/src/pages/LobbiesPage.tsx
Due: frontend:eslint, backend:test

[cr]
  backend/internal/auth/constants.go
Due: backend:test

[cr] [KAN-16]
  README.md
  backend/internal/handlers/leaderboard.go
  backend/rust/hearts-engine/Cargo.toml
  backend/rust/hearts-engine/src/lib.rs
  docs/hearts-rust-expansion.md
Due: backend:test

Update backend/internal/handlers/leaderboard.go
  backend/internal/handlers/leaderboard.go
Due: backend:test

Update client.go
  backend/pkg/websocket/client.go
Due: backend:test

init
  .claude/settings.local.json
  .coderabbit copy.yml
  .coderabbit.yml
  README.md
  backend/internal/database/migrations/007_tournaments.sql
  backend/internal/game/hearts/contracts.go
  backend/internal/handlers/leaderboard.go
  backend/internal/handlers/leaderboard_test.go
  backend/internal/handlers/presence.go
  backend/internal/models/trading_card.go
  backend/internal/models/trading_card_test.go
  backend/rust/hearts-engine/Cargo.toml
  backend/rust/hearts-engine/src/lib.rs
  docs/hearts-rust-expansion.md
  frontend/src/pages/LobbiesPage.tsx
Due: frontend:eslint, backend:test

init
  .coderabbit copy.yml
  frontend/src/pages/LobbiesPage.tsx
Due: frontend:eslint

[cr] [KAN-19] init
  .claude/settings.local.json
  backend/cmd/server/main.go
  backend/internal/handlers/achievements.go
  backend/internal/handlers/chat_reactions.go
  backend/internal/handlers/friends.go
  backend/internal/handlers/lobby_chat.go
  backend/internal/handlers/lobby_helpers.go
  backend/internal/handlers/routes.go
  backend/internal/handlers/spectator.go
  backend/internal/middleware/ratelimit.go
  backend/internal/models/achievements.go
  backend/internal/models/friends.go
  backend/internal/models/leaderboard.go
  backend/internal/models/lobby.go
  backend/pkg/websocket/hub.go
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/components/LobbyChat.tsx
  frontend/src/pages/AchievementsPage.tsx
  frontend/src/pages/FriendsPage.tsx
  frontend/src/pages/GamePage.tsx
  frontend/src/pages/LobbiesPage.tsx
Due: frontend:eslint, backend:test

Update settings.local.json
  .claude/settings.local.json
Due: none

Update .coderabbit.yml with additional guidelines
  .coderabbit.yml
Due: none

Add greeting message to README
  frontend/README.md
Due: frontend:eslint

[cr] [KAN-18]
  backend/internal/handlers/routes.go
  backend/internal/handlers/scoreboard.go
  backend/internal/models/scoreboard.go
Due: backend:test

[cr] [KAN-19]
  backend/internal/database/migrations/007_card_theme.sql
  backend/internal/handlers/preferences.go
  backend/internal/handlers/reactions.go
  backend/internal/handlers/routes.go
  backend/internal/models/user_preferences.go
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/pages/GamePage.tsx
Due: frontend:eslint, backend:test

Update backend/internal/handlers/chat_reactions.go
  backend/internal/handlers/chat_reactions.go
Due: backend:test

add conventional comments
  .coderabbit.yml
Due: none

add stats engine package
  backend/internal/stats/aggregate.go
  backend/internal/stats/encoding.go
  backend/internal/stats/format.go
  backend/internal/stats/head2head.go
  backend/internal/stats/histogram.go
  backend/internal/stats/leaderboard.go
  backend/internal/stats/rating.go
  backend/internal/stats/service.go
  backend/internal/stats/stats_test.go
  backend/internal/stats/store.go
  backend/internal/stats/timeseries.go
  backend/internal/stats/types.go
Due: backend:test

init
  .coderabbit.yml
  mcp-server/service-catalog/main.go
  uservices/astros
  uservices/pkg/meshclient/meshclient.go
  uservices/services/astros/main.go
  uservices/services/cardinals/main.go
  uservices/services/clover/main.go
  uservices/services/dodgers/main.go
  uservices/services/fern/main.go
  uservices/services/ivy/main.go
  uservices/services/lille/main.go
  uservices/services/maple/main.go
  uservices/services/mariners/main.go
  uservices/services/nice/main.go
  uservices/services/padres/main.go
  uservices/services/rennes/main.go
  uservices/services/sage/main.go
  uservices/services/willow/main.go
  uservices/services/yankees/main.go
Due: none

init
  .coderabbit.yml
  uservices/services/sage/main.go
Due: none

init
  uservices/pkg/cribbage/cribbage.go
  uservices/pkg/meshclient/meshclient.go
  uservices/pkg/service/service.go
  uservices/services/paris/main.go
Due: none

init
  mcp-server/service-catalog/service-catalog
Due: none

Path conditions:
  frontend:eslint: any of: frontend/**/*
  backend:test: any of: backend/**/*
