Repository iantybo/fifteen-thirty-one-go: changes, and which Bitbucket steps are due for each by the changed paths.
All: frontend eslint, backend go checks

frontend eslint:
  image: node:20
  caches:
  - node
  script:
  - cd frontend
  - npm ci --no-audit --no-fund
  - npm run lint

backend go checks:
  image: golang:1.25.5
  caches:
  - gomod
  script:
  - cd backend
  - export GOPATH=/opt/atlassian/pipelines/agent/build/.go
  - export PATH=$PATH:$GOPATH/bin
  - go mod download
  - go mod verify
  - echo "Checking code formatting..."
  ...

[cr]
  .coderabbit.yml
Due: none

Update .coderabbit.yml
  .coderabbit.yml
Due: none

[cr] [DONOTUSE-1]
  .coderabbit.yml
Due: none

reenable jira on public repo
  .coderabbit.yml
Due: none

fix coderabbit.yaml typo
  .coderabbit.yml
Due: none

Edit .coderabbit.yml
  .coderabbit.yml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  .coderabbit.yml
Due: none

[KAN-]
  README.md
  backend/internal/handlers/context.go
  backend/internal/handlers/game.go
  backend/internal/handlers/game_logic.go
  backend/internal/handlers/lobby.go
  backend/internal/handlers/presence.go
  backend/internal/handlers/spectator.go
  backend/internal/handlers/state_view.go
  backend/internal/models/game.go
  backend/internal/models/lobby.go
  frontend/src/pages/GamePage.tsx
  frontend/src/pages/game/CardComponents.tsx
  frontend/src/pages/game/PegTrack.tsx
  frontend/src/pages/game/PlayerProfileCard.tsx
  frontend/src/pages/game/cardUtils.ts
  frontend/src/pages/game/pegBoardThemes.ts
  frontend/src/pages/game/playerProfileUtils.ts
Due: frontend eslint, backend go checks

[cr] [kan-3]
  .coderabbit.yml
  backend/go.mod
  backend/go.sum
  backend/internal/auth/wallet.go
  backend/internal/config/config.go
  backend/internal/database/migrations/007_wallet_auth.sql
  backend/internal/handlers/auth.go
  backend/internal/handlers/routes.go
  backend/internal/middleware/ratelimit.go
  backend/internal/models/user.go
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/auth/auth.tsx
  frontend/src/components/WalletLogin.tsx
  frontend/src/lib/wagmi.ts
  frontend/src/main.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/RegisterPage.tsx
Due: frontend eslint, backend go checks

perf: denormalize user PII into hot tables for zero-join query optimization
  backend/internal/database/migrations/007_perf_refactor_user_denorm.sql
  backend/internal/handlers/admin.go
  backend/internal/handlers/auth.go
  backend/internal/handlers/routes.go
  backend/internal/handlers/websocket.go
  backend/internal/models/game_player.go
  backend/internal/models/user.go
  frontend/src/api/client.ts
  frontend/src/api/types.ts
Due: frontend eslint, backend go checks

init
  README.md
Due: none

update coderabbit with custom recipes
  .coderabbit.yml
Due: none

init
  backend/internal/database/tx.go
  backend/internal/handlers/api_errors.go
  backend/internal/handlers/context.go
  backend/internal/handlers/game.go
  backend/internal/handlers/presence.go
Due: backend go checks

[cr]
  backend/internal/handlers/game.go
  backend/internal/handlers/hub.go
  backend/internal/handlers/lobby.go
  backend/internal/handlers/lobby_chat.go
  backend/internal/handlers/presence.go
  backend/internal/handlers/scoreboard.go
  backend/internal/handlers/spectator.go
  backend/internal/handlers/websocket.go
Due: backend go checks

update coderabbit with custom recipes and MCP
  .coderabbit.yml
Due: none

[cr]
  backend/internal/game/cribbage/scoring.go
  backend/internal/handlers/auth.go
  backend/internal/handlers/leaderboard.go
  backend/internal/handlers/lobby.go
  backend/internal/handlers/moves.go
  frontend/src/api/client.ts
  frontend/src/auth/auth.tsx
  frontend/src/hooks/usePresence.ts
  frontend/src/pages/LobbiesPage.tsx
  frontend/src/ws/wsClient.ts
Due: frontend eslint, backend go checks

update coderabbit config
  .coderabbit.yml
Due: none

refactor
  backend/internal/handlers/analytics.go
  backend/internal/handlers/game_finalize.go
  backend/internal/handlers/leaderboard.go
  backend/internal/handlers/matchmaking.go
  backend/internal/handlers/presence.go
  backend/internal/handlers/routes.go
  backend/internal/handlers/user_profile.go
  backend/internal/models/user.go
Due: backend go checks

refactor
  backend/cmd/server/main.go
  backend/internal/config/config.go
  backend/internal/game/cribbage/scoring.go
  backend/internal/handlers/admin.go
  backend/internal/handlers/api_errors.go
  backend/internal/handlers/auth.go
  backend/internal/handlers/game_finalize.go
  backend/internal/handlers/game_logic.go
  backend/internal/handlers/game_manager.go
  backend/internal/handlers/hub.go
  backend/internal/handlers/lobby_chat.go
  backend/internal/handlers/moves.go
  backend/internal/handlers/presence.go
  backend/internal/handlers/routes.go
  backend/internal/handlers/scoreboard.go
  backend/internal/handlers/spectator.go
  backend/internal/handlers/websocket.go
  backend/internal/models/leaderboard.go
  backend/internal/models/user.go
Due: backend go checks

add push-only
  push-only.sh
Due: none

refactor
  backend/internal/handlers/game.go
Due: backend go checks

[cr] [KAN-4 ]
  backend/internal/handlers/replay.go
  backend/internal/handlers/routes.go
  backend/internal/models/game_move.go
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/pages/GamePage.tsx
  frontend/src/pages/GameReplayPage.tsx
Due: frontend eslint, backend go checks

[cr] [KAN-9]
  backend/internal/handlers/leaderboard.go
  backend/internal/handlers/presence.go
  backend/internal/handlers/scoreboard.go
  backend/internal/models/scoreboard.go
Due: backend go checks

[cr] [KAN-9]
  backend/internal/database/migrations/007_game_events.sql
  backend/internal/game/cribbage/transitions.go
  backend/internal/handlers/game.go
  backend/internal/handlers/game_events.go
  backend/internal/handlers/game_finalize.go
  backend/internal/handlers/lobby.go
  backend/internal/handlers/routes.go
  backend/internal/handlers/state_validation.go
  backend/internal/models/persistence.go
Due: backend go checks

Update backend/internal/database/migrations/007_game_events.sql
  backend/internal/database/migrations/007_game_events.sql
Due: backend go checks

[cr]
  azure-pipelines.yml
Due: none

[cr] [KAN-9]
  .coderabbit.yml
  backend/cmd/server/main.go
  backend/internal/database/migrations/007_tournaments.sql
  backend/internal/handlers/routes.go
  backend/internal/handlers/tournament.go
  backend/internal/models/tournament.go
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/pages/TournamentsPage.tsx
Due: frontend eslint, backend go checks

refactor
  backend/internal/handlers/leaderboard.go
  backend/internal/handlers/presence.go
  frontend/src/api/client.ts
Due: frontend eslint, backend go checks

[cr] [KAN-9]
  backend/internal/handlers/profile.go
  backend/internal/handlers/routes.go
Due: backend go checks

update MCP settings
  .coderabbit.yml
Due: none

Path conditions:
  frontend eslint: any of: frontend/**
  backend go checks: any of: backend/**
